body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #71a3c9; /* Darker background color to align with the navbar */
}

/*NAVBAR*/
 #navbar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 200px;
}

.navbarItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  border-bottom: 1px solid grey;
  text-decoration: none;
  color: #ccc; /* Metallic font color */
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, color 0.3s ease-in-out; /* Added color transition */
  flex: 1; /* Make each item fill the available vertical space equally */
  background: linear-gradient(to right, #333, #666); /* Dark metallic gradient background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Darker box shadow */
}

#contactnav {
  border-bottom: none;
}

.navbarItem.active {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  text-decoration: none;
  color: #1414d6; /* Metallic font color for active item */
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, color 0.3s ease-in-out; /* Added color transition */
  flex: 1; /* Make each item fill the available vertical space equally */
  background: linear-gradient(to right, #444, #777); /* Darker metallic gradient background for active item */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Darker box shadow for active item */
}

.navbarItem:hover,
.navbarItem.active:hover {
  background: linear-gradient(to right, #444, #777); /* Darker metallic gradient background on hover */
  color: #1414d6; /* Change the text color to white on hover */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Darker box shadow for active item */
}

/*HOME*/

#home-container {
  text-align: center;
  padding: 20px;
  background: url('https://img.freepik.com/free-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-52379.jpg?w=2000&t=st=1695900679~exp=1695901279~hmac=f2c6b6fbd2c3e1161344ff68051345d7396e7c07b55d4295dc53ea877988c843');
  width: 100%;
  min-height: calc(100vh - 40px);
  background-color: #fff;
}

#profile-image {
  max-width: 100%;
  height: auto;
  border-radius: 50%; /* Rounded profile image */
  margin: 20px 0;
}

#view-work-link {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 20px;
  margin-top: 20px;
  color: #fff; /* Text color for the button */
  background-color: #007bff; /* Button background color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

#view-work-link:hover {
  background-color: #0056b3; /* Button background color on hover */
}

/*SKILLS*/

#skills-container {
  width: 100%;
  text-align: center;
  padding: 20px;
  min-height: calc(100vh - 40px);
  background-color: #fff;
}

#skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Adjust the gap between skill icons */
}

.skill-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 16px;
}

.skill-icon p {
  margin-top: 10px; /* Adjust the spacing between the icon and text */
  font-size: 14px; /* Adjust the font size of the text */
  font-weight: bold;
}

.skill-icon svg {
  margin-bottom: 5px; /* Adjust the spacing between the icon and text */
}

.skill-icon:hover {
  transform: scale(1.1);
}

/*PROJECTS*/

#projects-container {
  width: 100%;
  text-align: center;
  padding: 20px;
  min-height: calc(100vh - 40px);
  background-color: rgba(255, 255, 255, 0.9); /* White with 10% grey (90% opaque) */

}

.projectImage {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

/*Techstack*/
#stack-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.stack-item {
  font-size: 20px;
  font-family: Arial, sans-serif;
  color: #555;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  transition: transform 0.2s ease-in-out;
}

/* Card container styles */
#cardscontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.card {
  width: 240px;
  height: 380px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 15px;
  margin: 20px;
  cursor: pointer;
  perspective: 1000px;
  transition: transform 0.5s;
}

.card:hover {
  transform: scale(1.05);
}

/* Front side styles */
.front {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotateY(0deg);
}

/* Back side styles */
.back {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
}

/* Reversed card styles */
.card.reversed {
  transform: rotateY(180deg);
}

/*CONTACT*/

#contact-container {
  width: 100%;
  text-align: center;
  padding: 20px;
  min-height: calc(100vh - 40px);
  background-color: #fff;

}

#icon-container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next row */
  justify-content: center; /* Distribute space between items */
  align-content: center; /* Distribute space between rows */
}

.contact-icon {
  width: calc(50% - 10px); /* Each item takes 50% width with a little spacing */
  height: calc(50% - 10px); /* Each item takes 50% height with a little spacing */
  margin-top: 80px; /* Add spacing between items */
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Scroll button*/

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 24px;
  background-color: #007bff; /* Button background color */
  color: white; /* Button text color */
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  z-index: 999; /* Ensure it appears above other elements */
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.scroll-to-top:hover {
  background-color: #0056b3; /* Hover background color */
}
