body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #71a3c9; /* Darker background color to align with the navbar */
}

/* Style the <h1> element (main heading) */
h1 {
  font-size: 36px; /* Adjust the font size as needed */
  font-weight: bold; /* Make it bold for emphasis */
  color: #333; /* Choose an appropriate text color */
  margin-bottom: 36px; /* Add spacing below the heading */
}

/* Style the <h2> elements (subheadings) */
h2 {
  font-size: 24px; /* Adjust the font size as needed */
  font-weight: bold; /* Make it bold for emphasis */
  color: #333; /* Choose an appropriate text color */
  margin-bottom: 24px; /* Add spacing below the subheadings */
}

/* Style the <h3> elements (sub-subheadings) */
h3 {
  font-size: 18px; /* Adjust the font size as needed */
  font-weight: bold; /* Make it bold for emphasis */
  color: #777; /* Choose an appropriate text color */
  margin-bottom: 10px; /* Add spacing below the sub-subheadings */
}

/* Style the <p> elements (paragraph text) */
p {
  font-size: 22px; /* Adjust the font size as needed */
  line-height: 1.5; /* Improve readability with line spacing */
  color: #333; /* Choose an appropriate text color */
  margin-bottom: 15px; /* Add spacing below paragraphs */
}


/*NAVBAR*/
 #navbar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 200px;
}

.navbarItem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0.2;
  width: 100%;
  cursor: pointer;
  border-bottom: 1px solid grey;
  text-decoration: none;
  color: #fff; /* White text color */
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
  flex: 1;
  background: linear-gradient(to right, #007bff, #0056b3); /* Blue gradient background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

#contactnav {
  border-bottom: none;
}

.navbarItem.active {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  text-decoration: none;
  color: #ccc; /* Grey text color when active */
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
  flex: 1;
  background: linear-gradient(to right, #0056b3, #00418a);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.navbarItem:hover {
  background: linear-gradient(to right, #0056b3, #00418a); /* Blue gradient background on hover */
  color: #ccc; /* Grey text color on hover */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.navbarItem.active:hover {
  background: linear-gradient(to right, #0056b3, #00418a);
  color: #ccc; /* Grey text color when active and on hover */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}


/*HOME*/

#top {
  text-align: center;
  padding: 60px;
  background: url('https://img.freepik.com/free-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-52379.jpg?w=2000&t=st=1695900679~exp=1695901279~hmac=f2c6b6fbd2c3e1161344ff68051345d7396e7c07b55d4295dc53ea877988c843');
  width: 100%;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column; /* Vertically center children */
  justify-content: center; /* Horizontally center children */
  align-items: center; /* Vertically center children */

}

#profile-image {
  max-width: 100%;
  height: auto;
  border-radius: 50%; /* Rounded profile image */
  margin: 20px 0;
}

#top h1 {
  font-size: 46px;
  font-weight: bold;
  margin-bottom: 15px; /* Adjust margin as needed */
  color: #fff;
}

#top h2 {
  font-size: 38px; /* Increase font size */
  font-weight: bold;
  margin-bottom: 15px; /* Adjust margin as needed */
  color: #fff;
}

/* Define the button style */
#view-work-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 50px;
  font-size: 28px;
  background-color: #0056b3;
  color: #fff;
  text-decoration: none;
  border: 2px solid #0056b3;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Add hover effects */
#view-work-button:hover {
  background-color: #00418a;
  transform: scale(1.05); /* Scale up on hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a shadow effect on hover */
  cursor: pointer; /* Change cursor to a pointer on hover */
}



/*SKILLS*/

#skills-container {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 60px;
  min-height: 100vh;
  background-color: #fff;
}

#skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Adjust the gap between skill icons */
}

.skill-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 16px;
}

.skill-icon p {
  margin-top: 10px; /* Adjust the spacing between the icon and text */
  font-size: 14px; /* Adjust the font size of the text */
  font-weight: bold;
}

.skill-icon svg {
  margin-bottom: 5px; /* Adjust the spacing between the icon and text */
}

.skill-icon:hover {
  transform: scale(1.1);
}

/*PROJECTS*/

#projects-container {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 60px;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.9); /* White with 10% grey (90% opaque) */

}

.projectImage {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

/*Techstack*/
#stack-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.stack-item {
  font-size: 20px;
  font-family: Arial, sans-serif;
  color: #555;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  transition: transform 0.2s ease-in-out;
}

/*Project links*/

#project-links {
  width: 100%;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next row */
  flex-direction: row;
  justify-content: space-evenly; /* Distribute space between items */
  align-content: center; /* Distribute space between rows */
}

.project-link {
  display: flex;
  align-items: center;
}

.read-more-link {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #6c87a4; /* Change the background color */
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.read-more-link:hover {
  background-color: #00418a; /* Change the background color on hover */
}

/* Card container styles */
#cardscontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.card {
  width: 260px;
  height: 400px;
  box-sizing: border-box;
  padding: 10px;
  background-color: #9eedf7;
  /* border: 3px solid #333; */
  border-radius: 15px;
  margin: 20px;
  cursor: pointer;
  perspective: 1000px;
  transition: transform 0.5s;
}

.card:hover {
  transform: scale(1.05);
}

/* Front side styles */
.front {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotateY(0deg);
}

/* Back side styles */
.back {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
}

/* Reversed card styles */
.card.reversed {
  transform: rotateY(180deg);
}

/*CONTACT*/

#contact-container {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 60px;
  min-height: 100vh;
  background-color: #fff;

}

#icon-container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next row */
  justify-content: center; /* Distribute space between items */
  align-content: center; /* Distribute space between rows */
  margin-right: 15%;
  margin-left: 15%;
}

.contact-icon {
  width: calc(50% - 10px); /* Each item takes 50% width with a little spacing */
  height: calc(50% - 10px); /* Each item takes 50% height with a little spacing */
  margin-top: 100px; /* Add spacing between items */
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Scroll button*/

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 24px;
  background-color: #007bff; /* Button background color */
  color: white; /* Button text color */
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  z-index: 999; /* Ensure it appears above other elements */
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.scroll-to-top:hover {
  background-color: #0056b3; /* Hover background color */
}
